In [1]:
import pandas as pd
import regex as re
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [2]:
## reading in county od for 2019 and 2020 for entire state
combined_state2019_2020=pd.read_csv(r'C:\Users\darin\Documents\NSS\darina_capstone\capstone\data\2019.2020state_od_final.csv')

In [4]:
## dropping geography and geogrpahy type 
combined_state2019_2020 = combined_state2019_2020.drop(['Geography', 'Geography Type'], axis=1)

In [5]:
combined_state2019_2020

   Year                           Type of Overdose  Total Number of Deaths
0  2020                      Involving All Opioids                   16429
1  2020  Involving All Opioids and Benzodiazepines                   17655
2  2020        Involving Opioids and Any Stimulant                     972
3  2020             Involving Prescription Opioids                   14055
4  2019                      Involving All Opioids                   11049
5  2019  Involving All Opioids and Benzodiazepines                   11821
6  2019        Involving Opioids and Any Stimulant                   11050
7  2019             Involving Prescription Opioids                    9525

In [6]:
## making combined_state2019_2020 dataframe into a csv
combined_state2019_2020.to_csv(r'C:\Users\darin\Documents\NSS\darina_capstone\capstone\data\combined_state2019_2020.csv', index = None, header=True)

In [9]:
## creating a a dataframe specifically for 2019
state2019 =combined_state2019_2020.loc[combined_state2019_2020.Year==2019]
state2019

   Year                           Type of Overdose  Total Number of Deaths
4  2019                      Involving All Opioids                   11049
5  2019  Involving All Opioids and Benzodiazepines                   11821
6  2019        Involving Opioids and Any Stimulant                   11050
7  2019             Involving Prescription Opioids                    9525

In [10]:
## making stateod 2019 into a csv
state2019.to_csv(r'C:\Users\darin\Documents\NSS\darina_capstone\capstone\data\state2019.csv', index = None, header=True)

In [12]:
## creating a a dataframe specifically for 2020
state2020 =combined_state2019_2020.loc[combined_state2019_2020.Year==2020]
state2020

   Year                           Type of Overdose  Total Number of Deaths
0  2020                      Involving All Opioids                   16429
1  2020  Involving All Opioids and Benzodiazepines                   17655
2  2020        Involving Opioids and Any Stimulant                     972
3  2020             Involving Prescription Opioids                   14055

In [13]:
## making stateod 2019 into a csv
state2020.to_csv(r'C:\Users\darin\Documents\NSS\darina_capstone\capstone\data\state2020.csv', index = None, header=True)