In [1]:
import pandas as pd
import regex as re
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [2]:
## reading in county od for 2019 and 2020
countyod= pd.read_csv(r'C:\Users\darin\Documents\NSS\capstone\data\2019.2020  fatal od by county(cleaned).csv')
countyod

,Year,Geography,GeographyType,State,Death Indicator,Total Number of Deaths
0,2019,Blount,County,TN,Involving Prescription Opioids,15
1,2019,Blount,County,TN,Involving All Opioids,34
2,2019,Blount,County,TN,Involving Opioids and Any Stimulant,10
3,2019,Blount,County,TN,Involving All Opioids and Benzodiazepines,3
4,2019,Bradley,County,TN,Involving Prescription Opioids,5
...,...,...,...,...,...,...
107,2020,Shelby,County,TN,Involving All Opioids and Benzodiazepines,105
108,2020,Washington,County,TN,Involving Prescription Opioids,12
109,2020,Washington,County,TN,Involving All Opioids,27
110,2020,Washington,County,TN,Involving Opioids and Any Stimulant,6
111,2020,Washington,County,TN,Involving All Opioids and Benzodiazepines,13

In [3]:
## isolating 2019 info
od2019 = countyod.loc[countyod.Year == 2019]
od2019

,Year,Geography,GeographyType,State,Death Indicator,Total Number of Deaths
0,2019,Blount,County,TN,Involving Prescription Opioids,15
1,2019,Blount,County,TN,Involving All Opioids,34
2,2019,Blount,County,TN,Involving Opioids and Any Stimulant,10
3,2019,Blount,County,TN,Involving All Opioids and Benzodiazepines,3
4,2019,Bradley,County,TN,Involving Prescription Opioids,5
5,2019,Bradley,County,TN,Involving All Opioids,16
6,2019,Bradley,County,TN,Involving Opioids and Any Stimulant,7
7,2019,Bradley,County,TN,Involving All Opioids and Benzodiazepines,3
8,2019,Cocke,County,TN,Involving Prescription Opioids,1
9,2019,Cocke,County,TN,Involving All Opioids,4
10,2019,Cocke,County,TN,Involving Opioids and Any Stimulant,1
11,2019,Cocke,County,TN,Involving All Opioids and Benzodiazepines,1
12,2019,Davidson,County,TN,Involving Prescription Opioids,78
13,2019,Davidson,County,TN,Involving All Opioids,280
14,2019,Davidson,County,TN,Involving Opioids and Any Stimulant,100
15,2019,Davidson,County,TN,Involving All Opioids and Benzodiazepines,54
16,2019,Dyer,County,TN,Involving Prescription Opioids,1
17,2019,Dyer,County,TN,Involving All Opioids,4
18,2019,Dyer,County,TN,Involving Opioids and Any Stimulant,3
19,2019,Dyer,County,TN,Involving All Opioids and Benzodiazepines,1
20,2019,Hamilton,County,TN,Involving Prescription Opioids,25
21,2019,Hamilton,County,TN,Involving All Opioids,72
22,2019,Hamilton,County,TN,Involving Opioids and Any Stimulant,35
23,2019,Hamilton,County,TN,Involving All Opioids and Benzodiazepines,2
24,2019,Hardin,County,TN,Involving Prescription Opioids,0
25,2019,Hardin,County,TN,Involving All Opioids,1
26,2019,Hardin,County,TN,Involving Opioids and Any Stimulant,1
27,2019,Hardin,County,TN,Involving All Opioids and Benzodiazepines,0
28,2019,Henry,County,TN,Involving Prescription Opioids,2
29,2019,Henry,County,TN,Involving All Opioids,5
30,2019,Henry,County,TN,Involving Opioids and Any Stimulant,3
31,2019,Henry,County,TN,Involving All Opioids and Benzodiazepines,4
32,2019,Jackson,County,TN,Involving Prescription Opioids,2
33,2019,Jackson,County,TN,Involving All Opioids,3
34,2019,Jackson,County,TN,Involving Opioids and Any Stimulant,1
35,2019,Jackson,County,TN,Involving All Opioids and Benzodiazepines,0
36,2019,Knox,County,TN,Involving Prescription Opioids,58
37,2019,Knox,County,TN,Involving All Opioids,187
38,2019,Knox,County,TN,Involving Opioids and Any Stimulant,80
39,2019,Knox,County,TN,Involving All Opioids and Benzodiazepines,24
40,2019,Maury,County,TN,Involving Prescription Opioids,7
41,2019,Maury,County,TN,Involving All Opioids,24
42,2019,Maury,County,TN,Involving Opioids and Any Stimulant,9
43,2019,Maury,County,TN,Involving All Opioids and Benzodiazepines,12
44,2019,Montgomery,County,TN,Involving Prescription Opioids,15
45,2019,Montgomery,County,TN,Involving All Opioids,62
46,2019,Montgomery,County,TN,Involving Opioids and Any Stimulant,19
47,2019,Montgomery,County,TN,Involving All Opioids and Benzodiazepines,9
48,2019,Shelby,County,TN,Involving Prescription Opioids,50
49,2019,Shelby,County,TN,Involving All Opioids,204
50,2019,Shelby,County,TN,Involving Opioids and Any Stimulant,87
51,2019,Shelby,County,TN,Involving All Opioids and Benzodiazepines,69
52,2019,Washington,County,TN,Involving Prescription Opioids,10
53,2019,Washington,County,TN,Involving All Opioids,16
54,2019,Washington,County,TN,Involving Opioids and Any Stimulant,4
55,2019,Washington,County,TN,Involving All Opioids and Benzodiazepines,8

In [4]:
od2019 = od2019.drop(['Year', 'GeographyType', 'State'], axis=1)

In [5]:
od2019

,Geography,Death Indicator,Total Number of Deaths
0,Blount,Involving Prescription Opioids,15
1,Blount,Involving All Opioids,34
2,Blount,Involving Opioids and Any Stimulant,10
3,Blount,Involving All Opioids and Benzodiazepines,3
4,Bradley,Involving Prescription Opioids,5
5,Bradley,Involving All Opioids,16
6,Bradley,Involving Opioids and Any Stimulant,7
7,Bradley,Involving All Opioids and Benzodiazepines,3
8,Cocke,Involving Prescription Opioids,1
9,Cocke,Involving All Opioids,4
10,Cocke,Involving Opioids and Any Stimulant,1
11,Cocke,Involving All Opioids and Benzodiazepines,1
12,Davidson,Involving Prescription Opioids,78
13,Davidson,Involving All Opioids,280
14,Davidson,Involving Opioids and Any Stimulant,100
15,Davidson,Involving All Opioids and Benzodiazepines,54
16,Dyer,Involving Prescription Opioids,1
17,Dyer,Involving All Opioids,4
18,Dyer,Involving Opioids and Any Stimulant,3
19,Dyer,Involving All Opioids and Benzodiazepines,1
20,Hamilton,Involving Prescription Opioids,25
21,Hamilton,Involving All Opioids,72
22,Hamilton,Involving Opioids and Any Stimulant,35
23,Hamilton,Involving All Opioids and Benzodiazepines,2
24,Hardin,Involving Prescription Opioids,0
25,Hardin,Involving All Opioids,1
26,Hardin,Involving Opioids and Any Stimulant,1
27,Hardin,Involving All Opioids and Benzodiazepines,0
28,Henry,Involving Prescription Opioids,2
29,Henry,Involving All Opioids,5
30,Henry,Involving Opioids and Any Stimulant,3
31,Henry,Involving All Opioids and Benzodiazepines,4
32,Jackson,Involving Prescription Opioids,2
33,Jackson,Involving All Opioids,3
34,Jackson,Involving Opioids and Any Stimulant,1
35,Jackson,Involving All Opioids and Benzodiazepines,0
36,Knox,Involving Prescription Opioids,58
37,Knox,Involving All Opioids,187
38,Knox,Involving Opioids and Any Stimulant,80
39,Knox,Involving All Opioids and Benzodiazepines,24
40,Maury,Involving Prescription Opioids,7
41,Maury,Involving All Opioids,24
42,Maury,Involving Opioids and Any Stimulant,9
43,Maury,Involving All Opioids and Benzodiazepines,12
44,Montgomery,Involving Prescription Opioids,15
45,Montgomery,Involving All Opioids,62
46,Montgomery,Involving Opioids and Any Stimulant,19
47,Montgomery,Involving All Opioids and Benzodiazepines,9
48,Shelby,Involving Prescription Opioids,50
49,Shelby,Involving All Opioids,204
50,Shelby,Involving Opioids and Any Stimulant,87
51,Shelby,Involving All Opioids and Benzodiazepines,69
52,Washington,Involving Prescription Opioids,10
53,Washington,Involving All Opioids,16
54,Washington,Involving Opioids and Any Stimulant,4
55,Washington,Involving All Opioids and Benzodiazepines,8

In [6]:
od2019.rename(columns={'Geography': 'County', 'Death Indicator': 'Type of Fatal Overdose'}, inplace=True)
od2019.head(1)

   County          Type of Fatal Overdose  Total Number of Deaths
0  Blount  Involving Prescription Opioids                      15

In [7]:
od2019.groupby('County').sum()

C:\Users\darin\AppData\Local\Temp\ipykernel_21960\1211113863.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  od2019.groupby('County').sum()

            Total Number of Deaths
County
Blount                          62
Bradley                         31
Cocke                            7
Davidson                       512
Dyer                             9
Hamilton                       134
Hardin                           2
Henry                           14
Jackson                          6
Knox                           349
Maury                           52
Montgomery                     105
Shelby                         410
Washington                      38

In [8]:
totaldeaths_bycounty2019 =pd.DataFrame(od2019.groupby('County').sum())
totaldeaths_bycounty2019

C:\Users\darin\AppData\Local\Temp\ipykernel_21960\2998431431.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  totaldeaths_bycounty2019 =pd.DataFrame(od2019.groupby('County').sum())

            Total Number of Deaths
County
Blount                          62
Bradley                         31
Cocke                            7
Davidson                       512
Dyer                             9
Hamilton                       134
Hardin                           2
Henry                           14
Jackson                          6
Knox                           349
Maury                           52
Montgomery                     105
Shelby                         410
Washington                      38

In [9]:
totaldeaths_bycounty2019=totaldeaths_bycounty2019.reset_index()
totaldeaths_bycounty2019

        County  Total Number of Deaths
0       Blount                      62
1      Bradley                      31
2        Cocke                       7
3     Davidson                     512
4         Dyer                       9
5     Hamilton                     134
6       Hardin                       2
7        Henry                      14
8      Jackson                       6
9         Knox                     349
10       Maury                      52
11  Montgomery                     105
12      Shelby                     410
13  Washington                      38

In [10]:
totaldeaths_bycounty2019.sort_values(by = 'Total Number of Deaths', ascending = False)

        County  Total Number of Deaths
3     Davidson                     512
12      Shelby                     410
9         Knox                     349
5     Hamilton                     134
11  Montgomery                     105
0       Blount                      62
10       Maury                      52
13  Washington                      38
1      Bradley                      31
7        Henry                      14
4         Dyer                       9
2        Cocke                       7
8      Jackson                       6
6       Hardin                       2

In [11]:
od2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56 entries, 0 to 55
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   County                  56 non-null     object
 1   Type of Fatal Overdose  56 non-null     object
 2   Total Number of Deaths  56 non-null     int64
dtypes: int64(1), object(2)
memory usage: 1.8+ KB

In [12]:
od2019.groupby('Type of Fatal Overdose')

In [13]:
od2019.describe()

       Total Number of Deaths
count               56.000000
mean                30.910714
std                 54.008173
min                  0.000000
25%                  2.750000
50%                  8.500000
75%                 34.250000
max                280.000000

In [14]:
## isolating 2020 info
od2020 = countyod.loc[countyod.Year == 2020]
od2020.head(1)

,Year,Geography,GeographyType,State,Death Indicator,Total Number of Deaths
56,2020,Blount,County,TN,Involving Prescription Opioids,4

In [15]:
od2020 = od2020.drop(['Year', 'GeographyType', 'State'], axis=1)

In [16]:
od2020

,Geography,Death Indicator,Total Number of Deaths
56,Blount,Involving Prescription Opioids,4
57,Blount,Involving All Opioids,37
58,Blount,Involving Opioids and Any Stimulant,18
59,Blount,Involving All Opioids and Benzodiazepines,4
60,Bradley,Involving Prescription Opioids,6
61,Bradley,Involving All Opioids,22
62,Bradley,Involving Opioids and Any Stimulant,3
63,Bradley,Involving All Opioids and Benzodiazepines,2
64,Cocke,Involving Prescription Opioids,3
65,Cocke,Involving All Opioids,10
66,Cocke,Involving Opioids and Any Stimulant,4
67,Cocke,Involving All Opioids and Benzodiazepines,1
68,Davidson,Involving Prescription Opioids,80
69,Davidson,Involving All Opioids,395
70,Davidson,Involving Opioids and Any Stimulant,164
71,Davidson,Involving All Opioids and Benzodiazepines,87
72,Dyer,Involving Prescription Opioids,1
73,Dyer,Involving All Opioids,1
74,Dyer,Involving Opioids and Any Stimulant,0
75,Dyer,Involving All Opioids and Benzodiazepines,1
76,Hamilton,Involving Prescription Opioids,16
77,Hamilton,Involving All Opioids,107
78,Hamilton,Involving Opioids and Any Stimulant,44
79,Hamilton,Involving All Opioids and Benzodiazepines,1
80,Hardin,Involving Prescription Opioids,4
81,Hardin,Involving All Opioids,12
82,Hardin,Involving Opioids and Any Stimulant,3
83,Hardin,Involving All Opioids and Benzodiazepines,4
84,Henry,Involving Prescription Opioids,2
85,Henry,Involving All Opioids,7
86,Henry,Involving Opioids and Any Stimulant,3
87,Henry,Involving All Opioids and Benzodiazepines,1
88,Jackson,Involving Prescription Opioids,2
89,Jackson,Involving All Opioids,5
90,Jackson,Involving Opioids and Any Stimulant,2
91,Jackson,Involving All Opioids and Benzodiazepines,2
92,Knox,Involving Prescription Opioids,59
93,Knox,Involving All Opioids,280
94,Knox,Involving Opioids and Any Stimulant,116
95,Knox,Involving All Opioids and Benzodiazepines,35
96,Maury,Involving Prescription Opioids,6
97,Maury,Involving All Opioids,24
98,Maury,Involving Opioids and Any Stimulant,10
99,Maury,Involving All Opioids and Benzodiazepines,8
100,Montgomery,Involving Prescription Opioids,17
101,Montgomery,Involving All Opioids,81
102,Montgomery,Involving Opioids and Any Stimulant,31
103,Montgomery,Involving All Opioids and Benzodiazepines,13
104,Shelby,Involving Prescription Opioids,84
105,Shelby,Involving All Opioids,375
106,Shelby,Involving Opioids and Any Stimulant,153
107,Shelby,Involving All Opioids and Benzodiazepines,105
108,Washington,Involving Prescription Opioids,12
109,Washington,Involving All Opioids,27
110,Washington,Involving Opioids and Any Stimulant,6
111,Washington,Involving All Opioids and Benzodiazepines,13

In [17]:
od2020.rename(columns={'Geography': 'County', 'Death Indicator': 'Type of Fatal Overdose'}, inplace=True)
od2020.head(1)

    County          Type of Fatal Overdose  Total Number of Deaths
56  Blount  Involving Prescription Opioids                       4

In [18]:
od2020.groupby('County').sum()

C:\Users\darin\AppData\Local\Temp\ipykernel_21960\1198010478.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  od2020.groupby('County').sum()

            Total Number of Deaths
County
Blount                          63
Bradley                         33
Cocke                           18
Davidson                       726
Dyer                             3
Hamilton                       168
Hardin                          23
Henry                           13
Jackson                         11
Knox                           490
Maury                           48
Montgomery                     142
Shelby                         717
Washington                      58

In [19]:
totaldeaths_bycounty2020 =pd.DataFrame(od2020.groupby('County').sum())
totaldeaths_bycounty2020

C:\Users\darin\AppData\Local\Temp\ipykernel_21960\795193046.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  totaldeaths_bycounty2020 =pd.DataFrame(od2020.groupby('County').sum())

            Total Number of Deaths
County
Blount                          63
Bradley                         33
Cocke                           18
Davidson                       726
Dyer                             3
Hamilton                       168
Hardin                          23
Henry                           13
Jackson                         11
Knox                           490
Maury                           48
Montgomery                     142
Shelby                         717
Washington                      58

In [20]:
totaldeaths_bycounty2020=totaldeaths_bycounty2020.reset_index()
totaldeaths_bycounty2020

        County  Total Number of Deaths
0       Blount                      63
1      Bradley                      33
2        Cocke                      18
3     Davidson                     726
4         Dyer                       3
5     Hamilton                     168
6       Hardin                      23
7        Henry                      13
8      Jackson                      11
9         Knox                     490
10       Maury                      48
11  Montgomery                     142
12      Shelby                     717
13  Washington                      58

In [21]:
totaldeaths_bycounty2020.sort_values(by = 'Total Number of Deaths', ascending = False) ## total deaths by county for 2020

        County  Total Number of Deaths
3     Davidson                     726
12      Shelby                     717
9         Knox                     490
5     Hamilton                     168
11  Montgomery                     142
0       Blount                      63
13  Washington                      58
10       Maury                      48
1      Bradley                      33
6       Hardin                      23
2        Cocke                      18
7        Henry                      13
8      Jackson                      11
4         Dyer                       3

In [22]:
od2020.describe()

       Total Number of Deaths
count               56.000000
mean                44.875000
std                 84.093468
min                  0.000000
25%                  3.000000
50%                 10.000000
75%                 38.750000
max                395.000000